<h1>Main page</h1>
<!--<% if (messages.error) { %>-->
<!--  <%= messages.error %>-->
<!--<% } %>-->
<div><a href="/signin">Sign In</a></div>

<div> <a href="/users">USERS</a> </div>

<div> <a href="/signup">Sign Up</a> </div>



