<h3>Hey! You have to log in ;)</h3>


<form id="signin" name="signin" method="post" action="signin">
    <input name="email" id="email" type="email" placeholder="Your e-mail"/>
    <input name="password" id="password" type="password" placeholder="Your password"/>
    <input type="submit" value="Sign In"/>
</form>
